# Игнорирование всех файлов в подкаталоге tmp
/tmp/

# Игнорирование всех файлов, заканчивающихся на _old
*_old

# Игнорирование всех файлов, заканчивающихся на _backup
*backup

# Игнорирование файлов Thumbs.db
Thumbs.db

# Игнорирование файлов .DS_Store
.DS_Store